nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    position: fixed;
   
}
.logo{
    width: 6rem;
}
.nav-elements{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1rem;
    font-weight: lighter;
    border-radius: 50px;
    padding: 10px;
    font-size: 0.7rem;
    text-decoration: none;
    background-color: #10B249;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    border-radius: 50px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.order-button{
    color: white;
    background-color: #10B249;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
}
.order-button:hover{
    background-color: #0a8b3c;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}